.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.logo-image{
    height: 68px;
}

.nav-link{
    display: flex;
    gap: 57px;
}

.nav-link a {
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.nav-link a.active {
  border-bottom: 2px solid #000000; /* votre couleur */
  color: #000000;
}
